@import "tailwindcss";

/* Create a variant that works like dark: but targets your custom theme name */
@custom-variant dark (&:where([data-theme=dark-theme], [data-theme=dark-theme] *));
@custom-variant light (&:where([data-theme=light-theme], [data-theme=light-theme] *));

/* DaisyUI themes */
@plugin "daisyui" {
  themes: 
    light-theme --default,  /* your "light" theme (default) */
    dark-theme --prefersdark; /* your "dark" theme */
}
/* Custom styles for light theme */

@plugin "daisyui/theme" {
  name: "light-theme";
  color-scheme: "light";
  --color-base-100: oklch(27% 0.077 45.635);
  --color-base-200: oklch(41% 0.112 45.904);
  --color-base-300: oklch(47% 0.137 46.201);
  --color-base-content: oklch(96% 0.059 95.617);
  --color-primary: oklch(51% 0.262 276.966);
  --color-primary-content: oklch(96% 0.018 272.314);
  --color-secondary: oklch(57% 0.245 27.325);
  --color-secondary-content: oklch(97% 0.013 17.38);
  --color-accent: oklch(66% 0.179 58.318);
  --color-accent-content: oklch(98% 0.022 95.277);
  --color-neutral: oklch(27% 0.077 45.635);
  --color-neutral-content: oklch(98% 0.022 95.277);
  --color-info: oklch(71% 0.143 215.221);
  --color-info-content: oklch(98% 0.019 200.873);
  --color-success: oklch(69% 0.17 162.48);
  --color-success-content: oklch(97% 0.021 166.113);
  --color-warning: oklch(76% 0.188 70.08);
  --color-warning-content: oklch(98% 0.022 95.277);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 2rem;
  --radius-field: 1rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "dark-theme";
  color-scheme: "dark";
  --color-base-100: oklch(26% 0.051 172.552);
  --color-base-200: oklch(37% 0.077 168.94);
  --color-base-300: oklch(43% 0.095 166.913);
  --color-base-content: oklch(95% 0.052 163.051);
  --color-primary: oklch(84% 0.238 128.85);
  --color-primary-content: oklch(27% 0.072 132.109);
  --color-secondary: oklch(0% 0 0);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(85% 0.199 91.936);
  --color-accent-content: oklch(28% 0.066 53.813);
  --color-neutral: oklch(37% 0.077 168.94);
  --color-neutral-content: oklch(97% 0.021 166.113);
  --color-info: oklch(71% 0.143 215.221);
  --color-info-content: oklch(98% 0.019 200.873);
  --color-success: oklch(69% 0.17 162.48);
  --color-success-content: oklch(97% 0.021 166.113);
  --color-warning: oklch(79% 0.184 86.047);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: oklch(64% 0.246 16.439);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
